.contain{
    min-height: 80vh;
    max-height: 100vh;
    min-width: 218.5vh;
    max-width: 219vh;
    display: flex;
    background: url(https://img.freepik.com/foto-gratis/vista-superior-comida-mexicana-fresca-nachos_23-2148614413.jpg?w=740&t=st=1677600924~exp=1677601524~hmac=e52513329edd5c104e5d605a088c992d1b8036f9eda9d489bd85f695367e1bf0) center;
    background-size: cover;
    overflow: hidden;
}
.subtitulo{
    text-decoration: underline;
}
.filtros{
    position: fixed;
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: space-between;
    height: 92vh;
    margin-left: 1rem;
    background-color: tomato;
    border-style: double;
    border-width: thick;
    border-radius: 1rem;
    
}

.botones{
    background-color: wheat;
    font-family: cursive;
    cursor: pointer;
}
.botones:hover{
    background-color: sandybrown;
}
.back{
    background-color: #ffdd90;
    cursor: pointer;
    float: left;
    position: absolute;
    margin-right: 77rem;
    margin-bottom: 32rem;
    font-family: cursive;
    font-size: 1rem;
}
.back:hover{
    background-color: sandybrown;
}

/* .temporal{
    display: flex;
    height: 3rem;
    width: 4rem;
    margin-top: 200px; */
/* } */